<div class="container">
  <header class="header">
    <div class="p-4"></div>
    <div class="company-logo-div">
      <img
        src="assets/images/prolog.jpg"
        class="company-logo-img"
        alt="image"
      />
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="logo-title">
        Thoughtfully curating events inspired by meaningful connection
      </div>

      <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" class="navbarNavDropdown">
            <ul class="navbar-nav">
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">PORTFOLIO</a>
                </li>
              </div>
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a
                    class="nav-link show"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    ABOUT
                  </a>
                  <ul class="dropdown-menu show">
                    <li><a class="dropdown-item" href="#">ABOUT US</a></li>
                    <li>
                      <a class="dropdown-item" href="#"> MEET THE TEAM </a>
                    </li>
                    <li><a class="dropdown-item" href="#">Q&A</a></li>
                    <li><a class="dropdown-item" href="#">TESTIMONIALS</a></li>
                  </ul>
                </li>

                <!-- <li>
                  <a href="#">ABOUT</a>
                  <ul class="dropdown">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">MEET THE TEAM</a></li>
                    <li><a href="#">Q&A</a></li>
                    <li><a href="#">TESTIMONIALS</a></li>
                  </ul>
                </li> -->
              </div>
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a
                    class="nav-link show"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    SERVICES
                  </a>
                  <ul class="dropdown-menu show">
                    <li><a class="dropdown-item" href="#">WEDDINGS</a></li>
                    <li>
                      <a class="dropdown-item" href="#"
                        >DESTINATION WEDDINGS&CELEBRATIONS
                      </a>
                    </li>
                    <li><a class="dropdown-item" href="#">SOCIAL EVENTS</a></li>
                    <li>
                      <a class="dropdown-item" href="#">CORPARATE EVENTS</a>
                    </li>
                  </ul>
                </li>
              </div>
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a class="nav-link" href="#">PRESS</a>
                </li>
              </div>
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a class="nav-link" href="#">PHILANTHROPY</a>
                </li>
              </div>
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a class="nav-link" href="#">SPEAKING</a>
                </li>
              </div>
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a class="nav-link" href="#">COURSES</a>
                </li>
              </div>
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT</a>
                </li>
              </div>
              <div class="row-lg-4 row-sm-6">
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-toggle "
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    SOCIAL
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">INSTAGRAM</a></li>
                  </ul>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
